<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 message-key="saml2nt_settings"></h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="save()">
            <md-icon aria-label="accessibility"
                     class="material-icons step"
                     ng-class="md-18">save
            </md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-card flex="80" flex-offset="10" ng-cloak>
    <md-card-title>
        <md-card-title-text>
          <span class="md-headline"
                message-key="angular.saml2.directives.settings.ma-settings.subtitle.saml2Setting"></span>
            <a ng-click="metadata()" message-key="angular.saml2.directives.settings.ma-settings.openmetadata"/>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-checkbox ng-model="settings.enabled" aria-label="" ng-click="enable()">
            <span message-key="saml2nt_settings.saml2_enabled"></span>
        </md-checkbox>
        <md-input-container class="md-block md-input-has-placeholder" flex>
            <label message-key="saml2nt_settings.saml2_identityProviderMetadata"></label>
            <input onchange="angular.element(this).scope().fileNameChanged(this)" name="identityProviderMetadata"
                   type="file">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="saml2nt_settings.saml2_relyingPartyIdentifier"></label>
            <input ng-model="settings.relyingPartyIdentifier">
        </md-input-container>
        <md-input-container class="md-block md-input-has-placeholder" flex>
            <label message-key="saml2nt_settings.saml2_keyStore"></label>
            <input onchange="angular.element(this).scope().fileNameChanged(this)" name="keyStore" type="file">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="saml2nt_settings.saml2_keyStorePass"></label>
            <input ng-model="settings.keyStorePass">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="saml2nt_settings.saml2_privateKeyPass"></label>
            <input ng-model="settings.privateKeyPass">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="saml2nt_settings.saml2_incomingTargetUrl"></label>
            <input ng-model="settings.incomingTargetUrl">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="saml2nt_settings.saml2_postLoginPath"></label>
            <input ng-model="settings.postLoginPath">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="saml2nt_settings.saml2_maximumAuthenticationLifetime"></label>
            <input ng-model="settings.maximumAuthenticationLifetime">
        </md-input-container>
    </md-card-content>
</md-card>
