name: Nightly (Jahia Snapshot)

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  integration-tests:
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    secrets: inherit
    with:
      jahia_image: 'ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT'
      module_id: saml-authentication-valve
      testrail_project: SAML Module
      pagerduty_skip_notification: false
      provisioning_manifest: 'provisioning-manifest-snapshot-8.2.x.yml'
      artifact_prefix: saml
      pagerduty_incident_service: saml-authentication-valve-JahiaSN